.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.container {
  margin: 0 auto;
  width: 1110px;
}

img {
  display: block;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(50%);
  margin: -1px;
}

.site-navigation {
  padding-top: 36px;
  margin-bottom: 32px;
}

.logo {
  font-size: 30px;
  font-family: "Roboto";
  color: #555252;
  text-transform: uppercase;
  line-height: 1.067;
  font-weight: 300;
  float: left;
}

.logo p::first-letter {
  color: #1abc9c;
}

.navigation-menu li {
  float: left;
}

.navigation-menu a {
  font-size: 14px;
  font-family: "Open Sans";
  color: #0f0101;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 0.786;
}

.navigation-menu a:hover,
.navigation-menu a:focus {
  color: #1abc9c;
}

.navigation-menu {
  margin-top: 6px;
  float: right;
}

.navigation-menu li:not(:last-child) {
  margin-right: 34px;
}

.slider {
  position: relative;
}

.slider-background img {
  min-width: 1110px;
  width: 100%;
  height: auto;
  display: block;
}

.slider-background::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 2, 0.52);
}

.slider-arrows {
  max-width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.slider-arrows button {
  width: 104px;
  height: 104px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  border: none;
}

.slider-arrows button:hover,
.slider-arrows button:focus {
  background-color: rgb(26, 188, 156);
}

.prev {
  background-image: url(../images/prev.png);
  float: left;
}

.next {
  background-image: url(../images/next.png);
  float: right;
}

.slider-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Roboto";
  color: #ffffff;
  text-transform: uppercase;
}

.slider-text-header {
  display: inline-block;
  font-size: 60px;
  line-height: 1.367;
  font-weight: 900;
}

.slider-text-content {
  display: inline-block;
  font-size: 24px;
  line-height: 2.25;
  font-weight: 300;
}
